// Colors
$orange-bright: #fda214; // Bright orange
$blue-gray: #bcced9; // Blue-gray
$dark-teal: #304859; // Dark teal
$deep-green: #152938; // Deep green
$light-gray: #f2f2f2; // Light gray
$muted-blue: #7191a5; // Muted blue
$sky-blue: #6395b8; // Sky blue
$white-off: #fcfcfc; // Off-white

#startGame {
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url("../../public/images/wood.jpg");
}
